# ----------------------
# Windows 시스템 파일
# ----------------------
AppData/
Temp/
Thumbs.db
Desktop.ini

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# 빌드 결과물
# ----------------------
bin/
obj/
dist/
build/

# ----------------------
# 기타
# ----------------------
*.log
*.tmp
